.header{

    background-color: e2dede;
    padding:20px;
    font-size: 18pt;
    position: absolute;
    top: 0px;
    width: 99%;
}

.main {

}

.nav {

    position: relative;
    top: 0px;
    padding: 10px;
    height: 100%;
    width: 15%;
    background-color: #4f5f6e;

}
.nav ul li {
    padding: 5px;
    list-style: none;
    color: #cccccc;
}

.footer{

    background-color: #cccccc;
    padding: 10px;
    color: #000000;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 99%;
    z-index: -1;

}

.iot{
    color:white!important;
    font-weight: bold;
    font-family: "Agency FB";
}
.user{
    float: right;
    font-weight: bold;
    font-family: "Agency FB";
    color: blue;
}

body{
    background: #F0F0F0;
}